<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <mat-icon>{{open_close_nav}}</mat-icon>
        </button>
        <div class="logo-text" *ngIf="collapsed"> Fridge App</div>
        
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-item" *ngFor="let data of data">
            <a href="" class="nav-link"  [routerLink]="[data.routeLink]">
                <mat-icon class="link-icon">{{data.icon}}</mat-icon>
                <span class="link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
            
        </li>

    </ul>
</div>
