.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.products-toolbar {
    display: flex;
    background-color: #263238;
    border-radius: 10px;
    align-items: center;
    justify-content: center !important;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
}

@media screen and (max-width: 600px){
    .products-toolbar {
        flex-direction: column;
        gap: 5px;
    }
}

.spacer {
    flex: 1 1 auto;
    
  }

.product {
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    height: 330px;
    border: 2px solid #263238;
    border-radius: 10px;
    margin: 5px; 
}

.expired-product {
    border: 2px solid red;
}

.expired-text {
    color: red;
}



.bottom-bttn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.product-info {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prod-name {
    max-width: 180px;
    word-wrap: break-word;
}

.prod-category {
    max-width: 180px;
    word-wrap: break-word;
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    object-fit: scale-down;
}

.image {
    margin-top: 4px;
    max-width: 190px;
    height: 190px;
    object-fit: scale-down; 
    border-radius: 100%;
    

}

.expiration-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.expired {
    color: red;
}